#planview-host {
    position: relative;
    width: 100%;
    background-color: #F5f5f5;
    margin-top: 8px; 
    /*margin 84px moves content below the toolbar and plan name */
}

.datatree-box {
    grid-area: datatree;
    /* border-radius: 5px; */
    background-color: white;
    border: 1px solid blue;
    overflow: auto; /* seems to be neccessary as of changes of 8/13/2017 */
}

.planview-toolbar-box {
    grid-area: toolbar;
    border: 1px solid blue; /* Only for this test version */
}
.planview-toolbar {
    display: flex;
    flex-direction: row;
    padding-top: 6px;  
    /* border-radius: 5px; */
    border: 1px solid blue;
    background-color: #eee;
}

.datagrid-box {
    grid-area: datagrid;
    /* border-radius: 5px; */
    border: 1px solid blue;
    background-color: white;
    overflow: auto;
}

	
/* Desktop in normal window, OR */
/* Device in landscape mode. */
/* The OR condition is specified by the comma at end of line. */
@media only screen 
	and (min-width: 768px),
    (orientation: landscape) 
    and (min-device-width: 684px) /* Nexus 6P landscape */
    and (max-device-width: 1024px) /* iPad landscape */
 {
    #planview-container {  
        /*holds the two main items in 2 rows*/
        position: absolute;
        top:0; 
        left:0;  
        right: 4px;  
        /* right:4px replaces width:100%; */
        background-color: #f9f9f9;
        padding: 0 10px 0 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 54px  1fr;
        grid-gap: 10px;
        grid-template-areas: 
            "datatree toolbar"
            "datatree datagrid";
    }
}

/* Tablet in portait or desktop narrow window */
@media only screen and (max-width: 768px){

    #planview-container {
        /*holds the main items in one column*/
        position: absolute;
        top:0; 
        left:0;    
        right: 4px;  
        /* right:4px replaces width:100%; */
        background-color: #f9f9f9;
        padding: 0 10px 0 10px;
        display: grid;
        justify-items: stretch;
        align-items: stretch;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 54px  1fr;
        grid-gap: 10px;
        grid-template-areas: 
            "datatree"
            "toolbar"
            "datagrid";
    }
}
